django
djangorestframework
django-cors-headers
djangorestframework-simplejwt
django-encrypted-model-fields
google-auth-oauthlib
google-api-python-client
pymupdf
python-docx
python-dotenv
groq
parameterized
coverage
django-coverage-plugin
whitenoise
gunicorn